:root {
  --primaryColor: #593939;
  --secondaryColor: #a67665;
  --buttonTextColor: #bfb3a8;
  --backgroundColor: #f2f5f7;
  --buttonBg: #401f1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  width: 100%;
  /* height: 100vh; */
}

/* =====splash preLoading screen======= */
#splash-screen{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000 url('../images/Gear-0.2s-200px.gif') no-repeat center center;
  background-size: 10%;
  z-index: 100;
}

.body-div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(255 255 255/70%), rgb(255 255 255/70%)),
    url(../images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  /* width: 100%; */
  padding: 50px 20px 30px;
  /* border: 1px solid red; */
  margin: 0 auto;
  text-align: center;
  font-size: 2vw;
  color: var(--secondaryColor);
}
.divider {
  width: 150px;
  height: 2px;
  margin: 20px auto 10px;
  background-color: var(--buttonBg);
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(20px);
  box-shadow: 0 1px 5px 5px rgba(14, 12, 12, 0.158);
}
header .wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .logo h3 {
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--primaryColor);
}
.wrapper ul {
  list-style: none;
}
.wrapper ul li {
  display: inline-block;
}
.wrapper ul li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 5px 8px;
  font-size: 1.4vw;
  font-weight: 600;
  color: var(--secondaryColor);
  transition: border-bottom 2s ease-in-out;
}
.wrapper ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primaryColor);
  position: absolute;
  left: 10%;
  bottom: -6px;
  transition: width 0.9s;
}
.wrapper ul li a:hover::after {
  width: 80%;
}
/* .active> a::after{
  width:80%;
  color:var(--primaryColor);
} */
.nav-toggle {
  display: none;
  font-size: 30px;
  color: #a67665;
}
.nav-toggle #close {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    position: relative;
  }
  .wrapper .logo h3 {
    font-size: 5vw;
  }
  .menu {
    position: absolute;
    width: 0px;
    height: 80vh;
    z-index: 1;
    top: 100%;
    right: 0;
    background-color: var(--secondaryColor);
    transition: width 0.8s ease-in-out;
    text-align: center;
  }
  .wrapper ul li {
    display: block;
    margin-bottom: 10px;
  }
  .wrapper ul li a {
    font-size: 3vw;
    font-weight: 700;
    padding: 5px;
    color: white;
    display: none;
  }

  .nav-toggle {
    display: block;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    position: relative;
  }
  .wrapper .logo h3 {
    font-size: 3vw;
  }
  .menu {
    position: absolute;
    width: 0px;
    height: 80vh;
    z-index: 1;
    top: 100%;
    right: 0;
    padding-top: 3vh;
    background-color: var(--secondaryColor);
    transition: width 1s ease-in;
    text-align: center;
  }
  .wrapper ul li {
    display: block;
    margin-bottom: 10px;
  }
  .wrapper ul li a {
    font-size: 2.3vw;
    font-weight: 700;
    padding: 5px;
    color: white;
    display: none;
  }
  .nav-toggle {
    display: block;
  }
}


/* ===Contact section starts== */
.contact-us{
  width: 100%;
  /* background-color: burlywood; */
  margin: 0px 0 20px;
}
.contact-us .wrapper{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: pink; */
}
.contact-title {
  margin: 5px 0;
  padding-top: 15px;
}
.contact-title .heading {
  padding: 15px 0 5px;
  font-size: 3.2vw;
}
.contact-title .divider {
  margin: 5px auto 10px;
  height: 4px;
  width: 90px;
}

.wrapper .container-div{
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;
}

/* ==contact left side data and icon=== */
.container-div .contact-info{
  width: 40%;
  height: 80vh;
  background-image: url('../images/contactBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom ;
  border-radius: 0px 50px 50px 0;
  overflow: hidden;
}

.contact-info-bgLayer{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,.2) ,rgba(0,0,0,0.1));
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 70px 15px 10px 20px;
}

.contact-info h4{
  font-size: 22px;
  font-weight: 700;
  color: var(--primaryColor);
  margin-bottom: 2px;
}
.contact-info p{
  font-size: 16px;
  font-weight: 500;
  color: var(--secondaryColor);
  margin-bottom: 5px;
}
.info-container{
  display: flex;
  /* align-items: center; */
}
.info-container .icon-div{
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 5px;

}
.icon-div span{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: .5px .5px .5px white;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--primaryColor);
}
.info-container .info-forIcon{
  padding: 8px 5px 8px 0;
  /* margin-left: -5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 5px;
  /* background-color: red; */
}
.info-forIcon p{
  font-size: 12px;
  font-weight: 600;
  padding-left: 4px;
  color: var(--secondaryColor);
}

/* ====actual contact form ==== */
.container-div .contact-form-div {
  width: 60%;
  height: 80vh;
  /* background-color: rgb(34, 167, 107); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 70px 0px 10px 20px;
}
.contact-form-div h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--primaryColor);
  width: 100%;
  margin: 0px auto 10px;
}
#form {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: wheat; */
}
.form-group {
  position: relative;
  width: 95%;
  /* background-color: rgb(183, 234, 116); */
}
#form input {
  width: 98%;
  padding: 4px;
  margin-bottom: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 500;
}
#form textarea {
  width: 85%;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: 1px solid var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 500;
}
.form-btn-div {
  width: 80%;
}
#form button { 
  border-radius: 6px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--buttonBg);
  color: white;
  background-color: var(--buttonBg);
  transition: 0.3s;
}
#form button:hover {
  border: 1px solid var(--buttonBg);
  color: var(--buttonBg);
  background-color: transparent;
  border-radius: 6px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 600;
}
.checkbox-group {
  margin-bottom: 15px;
}
.form-group #robot {
  width: 30px;
}
.form-group span{
  font-size: 14px;
}

.form-group #name-error {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: red;
}
.form-group #email-error {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: red;
}
.form-group #subject-error {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: red;
}
.form-group #textarea-span {
  position: absolute;
  bottom: 30px;
  right: 5px;
  color: gray;
}

.form-group span i {
  color: aqua;
  font-size: 20px;
  margin-right: 20px;
}

/* ====media Query for contact section====== */
@media screen and (min-width: 577px) and (max-width: 777px) { 
  .wrapper .container-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  /* ==contact left side data and icon=== */
  .container-div .contact-info{
    width: 100%;
    height: auto;
    background-image: url('../images/mediumContactBg.png');
    background-position: bottom center ;
    border-radius: 50px 0;
  }
  
  .contact-info-bgLayer{
    padding: 70px 15px 8px 20px;
  }
  
  /* ====actual contact form ==== */
  .container-div .contact-form-div {
    width: 100%;
    height: auto;
    background-color: var(--backgroundColor);
  }
  .form-btn-div {
    width: 80%;
  }
  .form-group #name-error {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: red;
  }
  
  .form-group #textarea-span {
    position: absolute;
    bottom: 30px;
    right: 5px;
    color: gray;
  }
}

@media screen and (max-width: 576px) {
 
  .contact-title .heading {
    padding: 15px 0 5px;
    font-size: 4.2vw;
  }
  
  .wrapper .container-div{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  /* ==contact left side data and icon=== */
  .container-div .contact-info{
    width: 100%;
    height: auto;
    background-image: url('../images/mediumContactBg.png');
    background-position: bottom center ;
    border-radius: 50px 0;
  }
  
  .contact-info-bgLayer{
    padding: 70px 15px 8px 20px;
  }
  
  .contact-info h4{
    font-size: 18px;
  }
  .contact-info p{
    font-size: 14px;
    font-weight: 600;
  }
  .icon-div span{
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .info-forIcon p{
    font-size: 10px;
  }
  
  /* ====actual contact form ==== */
  .container-div .contact-form-div {
    width: 100%;
    height: auto;
    background-color: var(--backgroundColor);
    padding: 50px 0px 10px 20px;
  }
  .contact-form-div h4 {
    font-size: 20px;
  }
  #form input {
    font-size: 14px;
  }
  #form textarea {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .form-btn-div {
    width: 80%;
  }
  #form button { 
    border-radius: 4px;
    padding: 4px 18px;
    font-size: 14px;
  }
  #form button:hover {
    border-radius: 4px;
    padding: 4px 18px;
    font-size: 14px;
  }
  .form-group span{
    font-size: 12px;
  }
  .form-group #textarea-span {
    font-size: 14px;
  }
  
  .form-group span i {
    color: aqua;
    font-size: 16px;
    margin-right: 20px;
  }
}



/* ====footer====== */
.footer {
  width: 100%;
  height: 40vh;
  background-color: var(--buttonBg);
  margin-top: 60px;
}
.footer-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-wrapper .logo {
  flex-grow: 1;
}
.footer-wrapper .logo h3 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}
.logo h3 span {
  color: var(--secondaryColor);
  text-shadow: 1px 1px 1px var(--secondaryColor);
}
.footer-info {
  text-align: left;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-info h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-info p {
  font-size: 16px;
  margin-bottom: 3px;
}
.socials {
  margin-top: 15px;
  display: flex;
  justify-content: start;
  gap: 10px;
}
.footer-info .socials a {
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  color: var(--primaryColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .footer-wrapper {
    width: 85%;
  }
  .footer-wrapper .logo {
    flex-grow: 1;
  }
  .footer-wrapper .logo h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
  }
  .footer-info h4 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer-info p {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .socials {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 8px;
  }
  .footer-info .socials a {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .footer-wrapper {
    width: 85%;
  }
  .footer-wrapper .logo {
    flex-grow: 1;
  }
  .footer-wrapper .logo h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .footer-info h4 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer-info p {
    font-size: 10px;
    margin-bottom: 3px;
  }
  .socials {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 8px;
  }
  .footer-info .socials a {
    font-size: 16px;
    width: 22px;
    height: 22px;
  }
}