:root {
  --primaryColor: #593939;
  --secondaryColor: #a67665;
  --buttonTextColor: #bfb3a8;
  --buttonBg: #401f1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  width: 100%;
  /* height: 100vh; */
}

/* =====splash preLoading screen======= */
#splash-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000 url("../images/Gear-0.2s-200px.gif") no-repeat center center;
  background-size: 10%;
  z-index: 100;
}

.body-div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(255 255 255/70%), rgb(255 255 255/70%)),
    url(../images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  /* width: 100%; */
  padding: 50px 20px 30px;
  /* border: 1px solid red; */
  margin: 0 auto;
  text-align: center;
  font-size: 2vw;
  color: var(--secondaryColor);
}
.divider {
  width: 150px;
  height: 2px;
  margin: 20px auto 10px;
  background-color: var(--buttonBg);
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(20px);
  box-shadow: 0 1px 5px 5px rgba(14, 12, 12, 0.158);
}
header .wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .logo h3 {
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--primaryColor);
}
.wrapper ul {
  list-style: none;
}
.wrapper ul li {
  display: inline-block;
}
.wrapper ul li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 5px 8px;
  font-size: 1.4vw;
  font-weight: 600;
  color: var(--secondaryColor);
  transition: border-bottom 2s ease-in-out;
}
.wrapper ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primaryColor);
  position: absolute;
  left: 10%;
  bottom: -6px;
  transition: width 0.9s;
}
.wrapper ul li a:hover::after {
  width: 80%;
}
/* .active> a::after{
  width:80%;
  color:var(--primaryColor);
} */
.nav-toggle {
  display: none;
  font-size: 30px;
  color: #a67665;
}
.nav-toggle #close {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    position: relative;
  }
  .wrapper .logo h3 {
    font-size: 5vw;
  }
  .menu {
    position: absolute;
    width: 0px;
    height: 80vh;
    z-index: 1;
    top: 100%;
    right: 0;
    background-color: var(--secondaryColor);
    transition: width 0.8s ease-in-out;
    text-align: center;
    z-index: 99;
  }
  .wrapper ul li {
    display: block;
    margin-bottom: 10px;
  }
  .wrapper ul li a {
    font-size: 3vw;
    font-weight: 700;
    padding: 5px;
    color: white;
    display: none;
  }

  .nav-toggle {
    display: block;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    position: relative;
  }
  .wrapper .logo h3 {
    font-size: 3vw;
  }
  .menu {
    position: absolute;
    width: 0px;
    height: 80vh;
    z-index: 1;
    top: 100%;
    right: 0;
    padding-top: 3vh;
    background-color: var(--secondaryColor);
    transition: width 1s ease-in;
    text-align: center;
    z-index: 99;
  }
  .wrapper ul li {
    display: block;
    margin-bottom: 10px;
  }
  .wrapper ul li a {
    font-size: 2.3vw;
    font-weight: 700;
    padding: 5px;
    color: white;
    display: none;
  }
  .nav-toggle {
    display: block;
  }
}

/* ====skills section starts====== */

.skills {
  width: 100%;
  /* height: 100vh; */
  padding: 30px 0;
  background-image: linear-gradient(rgb(255 255 255/60%), rgb(255 255 255/40%)),
    url(../images/skills-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.skills-wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-texts {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skill-texts .heading {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px 20px;
  text-align: center;
  font-size: 3vw;
  color: var(--primaryColor);
  text-shadow: 0.8px 0.8px 1px var(--primaryColor);
  /* border: 10px solid red; */
}
.skill-texts .heading .divider {
  width: 90px;
  height: 5px;
  margin: 10px auto 10px;
  background-color: var(--secondaryColor);
}
.skill-texts .main-skills {
  flex-grow: 1;
  width: 100%;
  /* border: 2px solid; */
}
.main-ol {
  list-style: lower-alpha;
  height: 100%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(30px);
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-position: inside;
}
.main-ol > div {
  display: inline-block;
  width: 85%;
  text-align: left;
  padding: 15px 0 20px 10px;
  /* border: 1px solid green; */
}
.main-ol li {
  font-size: 32px;
  font-weight: 600;
  padding-left: 30px;
  color: var(--primaryColor);
  text-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.5);
}
.main-ol ::marker {
  color: var(--secondaryColor);
}
.sub-ol {
  list-style: lower-roman;
  margin: 0 auto;
  padding: 10px 25px;
  width: 85%;
  list-style-position: inside;
  text-align: start;
  /* border: 2px solid blue; */
}
.sub-ol li {
  font-size: 22px;
  color: var(--primaryColor);
}
.unorder-list {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 10px 20px;
  list-style-type: disc;
  /* list-style-position: inside; */
}
.unorder-list li {
  font-size: 18px;
  line-height: 20px;
  /* background-color: blue; */
}
.sub-ol ::marker {
  font-size: 20px;
  color: var(--secondaryColor);
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .skills {
    /* height: 70vh; */
    /* padding: 30px 0; */
    position: relative;
    z-index: -1;
  }
  .skill-texts .heading {
    padding: 25px 20px 20px;
    font-size: 3.5vw;
  }
  .skill-texts {
    width: 100%;
  }
  .main-ol {
    padding: 40px 20px 20px 20px;
  }
  .main-ol > div {
    width: 80%;
  }
  .main-ol li {
    font-size: 24px;
  }
  .sub-ol {
    width: 80%;
  }
  .sub-ol li {
    font-size: 18px;
    padding-left: 20px;
  }
  .sub-ol ::marker {
    font-size: 16px;
  }
  .unorder-list li {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 576px) {
  .skills {
    /* height: 70vh; */
    padding: 30px 0;
    position: relative;
    z-index: -1;
  }
  .skills-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .skill-texts {
    width: 100%;
    height: 100%;
  }
  .skill-texts .heading {
    padding: 10px 20px 5px;
    font-size: 4.5vw;
  }
  .skill-texts .heading .divider {
    height: 4px;
    margin: 6px auto 8px;
  }
  .main-skills {
    padding-bottom: 10px;
  }
  .main-ol {
    padding: 20px 10px;
    height: 100%;
  }
  .main-ol > div {
    width: 95%;
    height: 100%;
  }
  .main-ol li {
    font-size: 18px;
    font-weight: 700;
  }
  .sub-ol {
    width: 90%;
    padding: 10px 6px 10px 30px;
  }
  .sub-ol li {
    font-size: 14px;
    padding-left: 10px;
    font-weight: 500;
  }
  .sub-ol ::marker {
    font-size: 12px;
  }
  .unorder-list {
    width: 90%;
    margin: 0;
    padding: 2px 0 2px 20px;
  }
  .unorder-list li {
    font-size: 9px;
    line-height: 9px;
    font-weight: 400;
  }
}

/* ======== project section========= */
.wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0 50px;
}
.project-title {
  margin: 10px 0 20px;
}
.project-title .heading {
  padding: 30px 0 10px;
  font-size: 3vw;
}
.project-title .divider {
  margin: 10px auto 25px;
  height: 5px;
  width: 90px;
}
.all-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 30px;
  padding-top: 40px;
  margin: 0 auto;
}
.project-card {
  width: 80%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 3px 5px 5px rgba(0, 0, 0, 0.068);
}
.project-card img {
  width: 100%;
  border-radius: 20px;
  transition: transform 1s ease;
}
.project-card:hover img {
  transform: scale(1.3);
}
.layer {
  width: 100%;
  height: 0%;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), var(--primaryColor));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: height 0.8s ease-in-out;
}

.project-card:hover .layer {
  height: 100%;
}
.layer h4 {
  font-size: 32px;
  text-shadow: 0.5px 0.5px 1px white;
  margin-bottom: 15px;
}
.layer p {
  font-size: 18px;
  box-shadow: #f2f5f7;
  text-shadow: 0.5px 0.5px 1px white;
  margin-bottom: 15px;
  font-weight: 600;
}
.layer a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 0.5px 1px #f2f5f7;
  font-size: 24px;
  color: #401f1f;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .project-title .heading {
    padding: 25px 20px 20px;
    font-size: 5vw;
  }
  .all-projects {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    gap: 40px;
  }
  .layer h4 {
    font-size: 4vw;
    text-shadow: 0.2px 0.2px 0.3px white;
  }
  .layer p {
    font-size: 3.2vw;
    text-shadow: 0.2px 0.2px 0.3px white;
  }
}

@media screen and (max-width: 576px) {
  .project-title .heading {
    padding: 25px 20px 20px;
    font-size: 5vw;
  }
  .all-projects {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
  }
  .layer h4 {
    font-size: 4.3vw;
    text-shadow: 0.2px 0.2px 0.3px white;
  }
  .layer p {
    font-size: 3.5vw;
    text-shadow: 0.2px 0.2px 0.3px white;
  }
}

/* ====footer====== */
.footer {
  width: 100%;
  height: 40vh;
  background-color: var(--buttonBg);
}
.footer-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-wrapper .logo {
  flex-grow: 1;
}
.footer-wrapper .logo h3 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}
.logo h3 span {
  color: var(--secondaryColor);
  text-shadow: 1px 1px 1px var(--secondaryColor);
}
.footer-info {
  text-align: left;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-info h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-info p {
  font-size: 16px;
  margin-bottom: 3px;
}
.socials {
  margin-top: 15px;
  display: flex;
  justify-content: start;
  gap: 10px;
}
.footer-info .socials a {
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  color: var(--primaryColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .footer-wrapper {
    width: 85%;
  }
  .footer-wrapper .logo {
    flex-grow: 1;
  }
  .footer-wrapper .logo h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
  }
  .footer-info h4 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer-info p {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .socials {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 8px;
  }
  .footer-info .socials a {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .footer-wrapper {
    width: 85%;
  }
  .footer-wrapper .logo {
    flex-grow: 1;
  }
  .footer-wrapper .logo h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .footer-info h4 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer-info p {
    font-size: 10px;
    margin-bottom: 3px;
  }
  .socials {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 8px;
  }
  .footer-info .socials a {
    font-size: 16px;
    width: 22px;
    height: 22px;
  }
}
